@{
    ViewBag.Title = "Home Page";
}

    <div class="product-info">
        <img src="~/img/VanGogh.jpg" />
        <h3>Becher</h3>
        <ul class="product-props">
            <li>Preis: 9.99 €</li>
            <li>Künstler: Van Gogh</li>
            <li>Titel: </li>
            <li>Beschreibung: Selbstporträt</li>
        </ul>
        <button id="buyButton">Kaufen</button>
    </div>
    <div id="theForm">
        <form>
            <label>Name:</label>
            </br>
            <input />
            <br />
            <label>E-Mail:</label>
            <br />
            <input type="email" />
            <br />
            <label>Betreff:</label>
            <br />
            <input type="text" />
            <br />
            <label>Nachricht:</label>
            <br />
            <textarea rows="4"></textarea>
            <br />
            <input type="submit" value="Nachricht senden" />
        </form>
    </div>
    <div id="loginToggle">Login</div>
    <form class="popup-form">
        <div>
            <label>Benutzer</label>
            <input />
        </div>
        <div>
            <label>Passwort</label>
            <input type="password" />
        </div>
        <div>
            <input type="checkbox" />
            <label>Daten speichern?</label>
        </div>
        <div>
            <input type="submit" value="Anmelden" />
        </div>

    </form>
