<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Dutch Treat : @ViewBag.Title</title>
    <link href="~/css/Site.css" rel="stylesheet" />
</head>
<body>
    <header>
        <h1>Wilkommen bei Dutch Treat</h1>
        <menu>
            <ul>
                <li style="display: inline"><a asp-controller="App" asp-action="Index">Home |</a></li>
                <li style="display: inline"><a asp-controller="App" asp-action="Kontakt">Kontakt |</a></li>
                <li style="display: inline"><a asp-controller="App" asp-action="Info">Über uns</a></li>
            </ul>
        </menu>
    </header>
    <section>
        <h2>@ViewBag.Title</h2>
        @RenderBody()
    </section>
    <footer>Copyright 2017 by Stefan Grossmann</footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/index.js"></script>
</body>
</html>
